# Problem Statement

Your client is a financial distribution company. Over the last 10 years, they have created an offline distribution channel across the country. They sell financial products to consumers by hiring agents in their network. These agents are freelancers and get a commission when they make a product sale.

### Overview of your client onboarding process

The managers at your client are primarily responsible for recruiting agents. Once a manager has identified a potential applicant he would explain the business opportunity to the agent. Once the agent provides the consent, an application is made to your client to become an agent. In the next 3 months, this potential agent has to undergo a 7 days training at your client's branch (about sales processes and various products) and clear a subsequent examination in order to become an agent.

### The problem - who are the best agents?

As it is obvious in the above process, there is a significant investment which your client makes in identifying, training, and recruiting these agents. However, there are a set of agents who do not bring in the expected resultant business. Your client is looking for help from data scientists like you to help them provide insights using their past recruitment data. They want to predict the target variable for each potential agent which would help them identify the right agents to hire.

    - ID: Unique Application ID
    - Office_PIN:	PINCODE of Your client's Offices
    - Applicant_City_PIN:	PINCODE of Applicant Address
    - Applicant_Gender:	Applicant's Gender
    - Applicant_Marital_Status:	Applicant's Marital Status
    - Applicant_Occupation:	Applicant's Occupation
    - Applicant_Qualification:	Applicant's Educational Qualification
    - Manager_Joining_Designation:	Manager's Joining Designation
    - Manager_Current_Designation:	Manager's Designation at the time of application sourcing
    - Manager_Grade:	Manager's Grade
    - Manager_Status:	Current Employment Status (Probation/Confirmation)
    - Manager_Gender:	Manager's Gender
    - Manager_Num_Application:	Number of Applications sourced in the last 3 months by the Manager
    - Manager_Num_Coded:	Number of agents recruited by the manager in the last 3 months
    - Manager_Business:	Amount of business sourced by the manager in the last 3 months
    - Manager_Num_Products:	Number of products sold by the manager in the last 3 months
    - Manager_Business2:	Amount of business sourced by the manager in the last 3 months excluding business from their Category A advisor
    - Manager_Num_Products2:	Number of products sold by the manager in the last 3 months excluding business from their Category A advisor
    - Business_Sourced(Target):	Business sourced by the applicant within 3 months [1/0] of recruitment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('dataset.csv').drop(['ID'],axis = 1)
df.shape

(8844, 18)

In [10]:
df.isnull().sum()

Office_PIN                        0
Applicant_City_PIN                0
Applicant_Gender                 53
Applicant_Marital_Status         59
Applicant_Occupation           1090
Applicant_Qualification          71
Manager_Joining_Designation       0
Manager_Current_Designation       0
Manager_Grade                     0
Manager_Status                    0
Manager_Gender                    0
Manager_Num_Application           0
Manager_Num_Coded                 0
Manager_Business                  0
Manager_Num_Products              0
Manager_Business2                 0
Manager_Num_Products2             0
Business_Sourced                  0
dtype: int64

In [11]:
df

,Office_PIN,Applicant_City_PIN,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_Joining_Designation,Manager_Current_Designation,Manager_Grade,Manager_Status,Manager_Gender,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,842001,844120,M,M,Others,Graduate,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,842001,844111,M,S,Others,Class XII,Level 1,Level 2,3.0,Confirmation,M,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,800001,844101,M,M,Business,Class XII,Level 1,Level 1,2.0,Confirmation,M,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,814112,814112,M,S,Salaried,Class XII,Level 1,Level 3,4.0,Confirmation,F,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,814112,815351,M,M,Others,Class XII,Level 1,Level 1,2.0,Confirmation,M,2.0,1.0,230402.0,17.0,230402.0,17.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8839,250001,250004,F,M,NaN,Graduate,Level 1,Level 2,3.0,Confirmation,M,1.0,1.0,55000.0,2.0,55000.0,2.0,0
8840,814112,816118,M,M,NaN,Class XII,Level 1,Level 1,2.0,Confirmation,M,4.0,2.0,418339.0,13.0,418339.0,13.0,0
8841,160017,160032,M,M,Salaried,Graduate,Level 2,Level 2,3.0,Probation,M,0.0,0.0,0.0,0.0,0.0,0.0,0
8842,753012,753014,F,M,Salaried,Graduate,Level 2,Level 2,3.0,Confirmation,M,0.0,0.0,316126.0,9.0,305775.0,8.0,0
8843,575003,571248,M,S,Salaried,Class XII,Level 3,Level 3,4.0,Probation,M,0.0,0.0,0.0,0.0,0.0,0.0,0

In [12]:
df.dtypes

Office_PIN                       int64
Applicant_City_PIN               int64
Applicant_Gender                object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Manager_Joining_Designation     object
Manager_Current_Designation     object
Manager_Grade                  float64
Manager_Status                  object
Manager_Gender                  object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Business               float64
Manager_Num_Products           float64
Manager_Business2              float64
Manager_Num_Products2          float64
Business_Sourced                 int64
dtype: object

In [14]:
for i in df.columns:
    print('****Values in ', i, '******')
    print(df[i].value_counts()/len(df))
    print()

****Values in  Office_PIN ******
695014    0.043193
221010    0.026798
121002    0.025102
211001    0.024649
400075    0.022501
            ...
110034    0.000339
395001    0.000226
144001    0.000226
334002    0.000226
517503    0.000113
Name: Office_PIN, Length: 98, dtype: float64

****Values in  Applicant_City_PIN ******
202001    0.020692
492001    0.007576
305001    0.007010
452001    0.006219
476001    0.005654
            ...
302031    0.000113
461775    0.000113
224209    0.000113
689108    0.000113
680008    0.000113
Name: Applicant_City_PIN, Length: 2858, dtype: float64

****Values in  Applicant_Gender ******
M    0.752601
F    0.241407
Name: Applicant_Gender, dtype: float64

****Values in  Applicant_Marital_Status ******
M    0.648236
S    0.343962
W    0.000678
D    0.000452
Name: Applicant_Marital_Status, dtype: float64

****Values in  Applicant_Occupation ******
Salaried         0.400950
Business         0.243894
Others           0.204545
Self Employed    0.016508
Student          0.010855
Name: Applicant_Occupation, dtype: float64

****Values in  Applicant_Qualification ******
Class XII                                                           0.613523
Graduate                                                            0.334464
Class X                                                             0.022049
Others                                                              0.013116
Masters of Business Administration                                  0.008028
Associate / Fellow of Institute of Chartered Accountans of India    0.000339
Associate/Fellow of Acturial Society of India                       0.000113
Associate/Fellow of Institute of Company Secretories of India       0.000113
Associate/Fellow of Insurance Institute of India                    0.000113
Professional Qualification in Marketing                             0.000113
Name: Applicant_Qualification, dtype: float64

****Values in  Manager_Joining_Designation ******
Level 1    0.523745
Level 2    0.315129
Level 3    0.129579
Level 4    0.022614
Other      0.006558
Level 6    0.002035
Level 7    0.000226
Level 5    0.000113
Name: Manager_Joining_Designation, dtype: float64

****Values in  Manager_Current_Designation ******
Level 2    0.362732
Level 1    0.280303
Level 3    0.229873
Level 4    0.116576
Level 5    0.010516
Name: Manager_Current_Designation, dtype: float64

****Values in  Manager_Grade ******
3.0     0.362619
2.0     0.279398
4.0     0.230439
5.0     0.075305
6.0     0.045907
7.0     0.002488
8.0     0.001583
1.0     0.000905
9.0     0.000791
10.0    0.000565
Name: Manager_Grade, dtype: float64

****Values in  Manager_Status ******
Confirmation    0.596676
Probation       0.403324
Name: Manager_Status, dtype: float64

****Values in  Manager_Gender ******
M    0.862393
F    0.137607
Name: Manager_Gender, dtype: float64

****Values in  Manager_Num_Application ******
0.0     0.336952
1.0     0.189620
2.0     0.151402
3.0     0.121325
4.0     0.080280
5.0     0.051787
6.0     0.030529
7.0     0.014925
8.0     0.009498
9.0     0.007123
10.0    0.003053
11.0    0.001583
16.0    0.000678
12.0    0.000565
13.0    0.000452
14.0    0.000113
22.0    0.000113
Name: Manager_Num_Application, dtype: float64

****Values in  Manager_Num_Coded ******
0.0    0.597354
1.0    0.203415
2.0    0.105834
3.0    0.053256
4.0    0.025441
5.0    0.009385
6.0    0.003392
7.0    0.000791
8.0    0.000678
9.0    0.000452
Name: Manager_Num_Coded, dtype: float64

****Values in  Manager_Business ******
 0.0         0.328358
 20000.0     0.003844
 50000.0     0.002148
 25000.0     0.001583
 30000.0     0.001131
               ...
 379900.0    0.000113
 291481.0    0.000113
 137546.0    0.000113
 186697.0    0.000113
-28419.0     0.000113
Name: Manager_Business, Length: 3747, dtype: float64

****Values in  Manager_Num_Products ******
0.0      0.328924
6.0      0.048847
5.0      0.048168
4.0      0.045002
7.0      0.043419
8.0      0.040592
9.0      0.037427
3.0      0.035391
11.0     0.035052
1.0      0.033017
2.0      0.032564
10.0     0.031999
12.0     0.028833
13.0     0.025893
14.0     0.024197
15.0     0.021710
17.0     0.018996
18.0     0.015491
16.0     0.015152
19.0     0.011872
20.0     0.009272
21.0     0.008480
23.0     0.008254
22.0     0.005880
24.0     0.005767
25.0     0.005201
26.0     0.003505
27.0     0.003505
29.0     0.003166
28.0     0.002940
32.0     0.002488
30.0     0.002488
33.0     0.001809
35.0     0.001696
31.0     0.001357
34.0     0.001244
37.0     0.001131
41.0     0.001018
36.0     0.000905
42.0     0.000791
38.0     0.000791
39.0     0.000791
40.0     0.000565
51.0     0.000565
60.0     0.000565
43.0     0.000452
66.0     0.000452
47.0     0.000452
44.0     0.000339
46.0     0.000339
45.0     0.000226
101.0    0.000226
74.0     0.000226
53.0     0.000226
48.0     0.000113
59.0     0.000113
61.0     0.000113
Name: Manager_Num_Products, dtype: float64

****Values in  Manager_Business2 ******
0.0          0.328924
20000.0      0.003844
50000.0      0.002148
25000.0      0.001583
30000.0      0.001131
               ...
93352.0      0.000113
1854078.0    0.000113
379900.0     0.000113
291481.0     0.000113
66542.0      0.000113
Name: Manager_Business2, Length: 3743, dtype: float64

****Values in  Manager_Num_Products2 ******
0.0      0.329489
6.0      0.049186
5.0      0.047942
4.0      0.045794
7.0      0.043532
8.0      0.040140
9.0      0.037427
3.0      0.035504
11.0     0.035165
1.0      0.032791
2.0      0.032451
10.0     0.031886
12.0     0.028833
13.0     0.025667
14.0     0.024197
15.0     0.021936
17.0     0.018996
18.0     0.015152
16.0     0.015038
19.0     0.011646
20.0     0.009611
21.0     0.008593
23.0     0.008141
22.0     0.006106
24.0     0.005880
25.0     0.005088
26.0     0.003618
27.0     0.003166
29.0     0.002827
28.0     0.002827
30.0     0.002488
32.0     0.002488
33.0     0.001809
35.0     0.001696
31.0     0.001357
37.0     0.001131
34.0     0.001018
36.0     0.000905
39.0     0.000905
41.0     0.000791
42.0     0.000791
38.0     0.000791
43.0     0.000565
40.0     0.000565
51.0     0.000565
60.0     0.000565
66.0     0.000452
44.0     0.000452
47.0     0.000452
46.0     0.000339
45.0     0.000226
101.0    0.000226
74.0     0.000226
53.0     0.000226
48.0     0.000113
59.0     0.000113
61.0     0.000113
Name: Manager_Num_Products2, dtype: float64

****Values in  Business_Sourced ******
0    0.657282
1    0.342718
Name: Business_Sourced, dtype: float64

In [16]:
features = ['Applicant_Gender', 'Applicant_Marital_Status', 'Applicant_Occupation', 'Applicant_Qualification']

for i in features:
    df[i].fillna(value = df[i].mode()[0], inplace = True)

In [17]:
df.isnull().sum()

Office_PIN                     0
Applicant_City_PIN             0
Applicant_Gender               0
Applicant_Marital_Status       0
Applicant_Occupation           0
Applicant_Qualification        0
Manager_Joining_Designation    0
Manager_Current_Designation    0
Manager_Grade                  0
Manager_Status                 0
Manager_Gender                 0
Manager_Num_Application        0
Manager_Num_Coded              0
Manager_Business               0
Manager_Num_Products           0
Manager_Business2              0
Manager_Num_Products2          0
Business_Sourced               0
dtype: int64

In [18]:
df = pd.get_dummies(df)

In [19]:
df.shape

(8844, 48)

In [23]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import roc_auc_score as ras
from sklearn.linear_model import LogisticRegression as log

In [22]:
x = df.drop(['Business_Sourced'], axis = 1)
y = df['Business_Sourced']

In [24]:
xtrain, xtest, ytrain, ytest = tts(x,y, test_size = 0.3, random_state = 51, stratify = y)

In [25]:
lgr = log()

lgr.fit(xtrain, ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [29]:
ras(ytrain, lgr.predict_proba(xtrain)[:,1])

0.47636648297768724

In [30]:
ras(ytest, lgr.predict_proba(xtest)[:,1])

0.458783962597036